fastapi==0.115.12
itsdangerous==2.2.0
uvicorn==0.34.0
autoflake==2.3.1
black==24.10.0
isort==5.13.2
SQLAlchemy==2.0.40
psycopg2==2.9.10
requests==2.32.3
pytest==7.4.4 
fastapi-users[sqlalchemy]==14.0.1
asyncpg==0.30.0
pillow==11.1.0