fastapi==0.115.12
itsdangerous==2.2.0
uvicorn==0.34.3
autoflake==2.3.3
black==25.12.0
isort==6.1.0
SQLAlchemy==2.0.48
psycopg2==2.9.11
requests==2.33.0
pytest==8.4.2 
fastapi-users[sqlalchemy]==14.0.2
asyncpg==0.30.0
pillow==11.3.0
alembic==1.18.4